/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

#player {
  background: rgba(0, 0, 0, .8);
  .number {
    width: 24px;
    height: 32px;
  }
  .name {
    font-size: 130%;
    color: #fff;
  }
  .image {
    width: 100%;
    margin: 20px auto;
    border: solid 2px #fff;
  }
}

#nav {
  background: rgba(0, 0, 0, .8);
  color: #fff;
  border-bottom: solid 1px #f00;
}

#top {
  background: #eee;
  .container {
    width: 90%;
    margin: 20px auto;
    .menu-button {
      border: solid 1px #f00;
      img {
        width: 100%;
      }
    }
    .title {
      padding: 20px 0;
    }
    .post {
      clear: both;

      .img {
        cursor: pointer;
        width: 100%;
        box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);

        img {
          width: 100%;
        }
      }
      .description {
        color: #555;
        padding-top: 10px;
        margin: 0 2%;

        .title {
          font-weight: bold;
        }
        .author {
          .time {
            color: #888;
            font-size: 90%;
          }
        }
      }
    }
  }
}

#menu {
  .menu {
    padding: 10px;
    border-bottom: solid 1px #333;
    .number {
      width: 9px;
      height: 15px;
    }
    .name {
      margin-left: 5px;
      color: #fff;
    }
    .face {
      margin-left: 5px;
    }
  }
}

#details {
  .photo {
    width: 100%;
  }
  .description {
    padding: 10px;
  }
}

