/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

#profile {
  background: rgba(0, 0, 0, .8);
  .hidden {
    display: none;
  }
  .close-popup {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 180%;
    color: #999;
    cursor: pointer;
  }
  .header {
    .number {
      width: 24px;
      height: 32px;
    }
    .name {
      margin-left: 10px;
      font-size: 130%;
      color: #fff;
    }
    .average {
      margin-left: 10px;
      color: #aaa;
    }
    .homerun {
      margin-left: 10px;
      color: #aaa;
    }
  }
  .main {
    margin: 20px 0;
    clear: both;
    .image {
      width: 50%;
      border: solid 2px #fff;
      float: left;
    }
    .score {
      margin: 0 20px;
      float: left;
      .title {
        color: #fff;
      }
      .results {
        margin: 10px 0;
        .result {
          margin: 3px 0;
          color: #fff;
        }
        .hit1 {
          color: #cdf;
        }
        .hit2, .hit3, .hit4, .hit5 {
          color: #fbb;
        }
      }
    }
  }
}

#nav {
  background: rgba(0, 0, 0, .87);
  color: #fff;
  border-bottom: solid 1px #f00;
}

#top {
  .left {
    background: #ccc;
  }
}

#details {
  .left {
    background: #000;
  }
}

#top, #details {
  background: #000;
  .left {
    .header {
      img {
        width: 100%;
      }
    }
    width: 100%;
    #games {
      padding: 10px 0;
      .title {
        padding: 10px 10px 5px;
        .prev {
          margin-left: 15px;
          cursor: pointer;
          display: none;
        }
        .next {
          cursor: pointer;
          display: none;
        }
      }
      .game {
        position: relative;
        width: 100%;
        margin: 20px;

        .img {
          cursor: pointer;
          width: 100%;
          box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
          &:active {
            opacity: .9;
          }
          img {
            width: 100%;
          }
        }
        .description {
          position: absolute;
          bottom: 20px;
          width: 270px;
          padding: 5px;
          background: rgba(0, 0, 0, .8);
          color: #fff;
        }
      }
    }
  }
  .right {
    background: #000;
    .title {
      padding: 20px 10px;
      color: #fff;
    }
    .player {
      width: 33%;
      float: left;
      position: relative;
      &:active {
        opacity: .8;
      }
      .pic {
        width: 100%;
        border: 1px solid #000;
      }
      .transparent {
        position: absolute;
        top: 0;
        width: 100%;
        border: 1px solid #000;
      }
      .description {
        position: absolute;
        bottom: 5px;
        width: 100%;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        .number {
          color: #f00;
          font-size: 120%;
        }
      }
    }
  }
}

#menu {
  .menu {
    padding: 10px;
    border-bottom: solid 1px #333;
    .number {
      width: 9px;
      height: 15px;
      margin-left: 5px;
      color: #f00;
    }
    .name {
      margin-left: 5px;
      color: #fff;
    }
    .face {
      margin-left: 5px;
    }
  }
}

#details {
  background: #000;
  color: #fff;
  .img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .points {
    width: 90%;
    margin: 10px auto;
    background: #060;
    td.head {
      font-size: 80%;
    }
    td {
      padding: 5px;
      text-align: center;
      border: solid 1px #050;
    }
  }
  .score {
    width: 90%;
    margin: 20px auto;
    .player {
      .position {
        font-size: 80%;
      }
      .hit1 {
        color: #cdf;
      }
      .hit2, .hit3, .hit4, .hit5 {
        color: #fbb;
      }
    }
  }
}

#top {
  .viewport {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
  }

  .flipsnap {
    width: 9600px; /* 320px(item width) * 3(item count) */
  }

  .flipsnap:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }

  .item {
    float: left;
    width: 280px;
    margin: 0 10px;
  }

  .item img {
    border: solid 2px #333;
  }
}

@media (min-width: 650px) {
  #top, #details {
    .right {
      .player {
        width: 25%;
      }
    }
  }
}

@media (min-width: 980px) {
  #top, #details {
    .left {
      width: 50%;
      float: left;
      #games {
        .title {
          .prev {
            display: inline;
          }
          .next {
            display: inline;
          }
        }
      }
    }
    .right {
      width: 50%;
      float: left;
      .player {
        width: 25%;
      }
    }
    .item {
      width: 460px;
    }
  }
}

