/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

#profile {
  background: rgba(0, 0, 0, .8);
  .hidden {
    display: none;
  }
  .header {
    .number {
      width: 24px;
      height: 32px;
    }
    .name {
      margin-left: 10px;
      font-size: 130%;
      color: #fff;
    }
    .average {
      margin-left: 10px;
      color: #aaa;
    }
    .homerun {
      margin-left: 10px;
      color: #aaa;
    }
  }
  .main {
    margin: 20px 0;
    clear: both;
    .image {
      width: 50%;
      border: solid 2px #fff;
      float: left;
    }
    .score {
      margin: 0 20px;
      float: left;
      .title {
        color: #fff;
      }
      .results {
        margin: 10px 0;
        .result {
          margin: 3px 0;
          color: #fff;
        }
        .hit1 {
          color: #cdf;
        }
        .hit2, .hit3, .hit4, .hit5 {
          color: #fbb;
        }
      }
    }
  }
}

#nav {
  background: rgba(0, 0, 0, .87);
  color: #fff;
  border-bottom: solid 1px #f00;
}

#top {
  background: #eee;
  .header {
    img {
      width: 100%;
      border: solid 1px #333;
    }
  }
  .container {
    width: 90%;
    margin: 15px auto;
    .menu-button {
      img {
        width: 100%;
        border: solid 2px #f00;
        &:active {
          opacity: .8;
        }
      }
    }
    #games {
      .title {
        padding: 20px 0;
      }
      .game {
        position: relative;
        width: 100%;
        margin: 20px;

        .img {
          cursor: pointer;
          width: 100%;
          box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
          img {
            width: 100%;
          }
        }
        .description {
          position: absolute;
          bottom: 20px;
          width: 200px;
          background: rgba(0, 0, 0, .8);
          color: #fff;
        }
      }
    }
  }
  #players {
    background: #000;
    .title {
      padding: 20px 10px;
      color: #fff;
    }
    .player {
      width: 33%;
      float: left;
      position: relative;
      &:active {
        opacity: .8;
      }
      .pic {
        width: 100%;
        border: 1px solid #000;
      }
      .transparent {
        position: absolute;
        top: 0;
        width: 100%;
      }
      .description {
        position: absolute;
        bottom: 15px;
        width: 100%;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        .number {
          color: #f00;
          font-size: 120%;
        }
        .name {

        }
      }
    }
  }
}

#menu {
  .menu {
    padding: 10px;
    border-bottom: solid 1px #333;
    .number {
      width: 9px;
      height: 15px;
      margin-left: 5px;
      color: #f00;
    }
    .name {
      margin-left: 5px;
      color: #fff;
    }
    .face {
      margin-left: 5px;
    }
  }
}

#details {
  .photo {
    width: 100%;
  }
  .description {
    padding: 10px;
  }
}

@media (min-width: 980px) {
  #top {
    #left {
      width: 50%;
      float: left;
    }
    #players {
      width: 50%;
      float: left;
    }
  }
}
